# /etc/systemd/system/mobicam.service

[Unit]
Description=Mobicam web app

[Service]
Type=simple
User=deployer
Nice=10
WorkingDirectory=/var/www/mobicam
ExecStart=/usr/bin/scl enable rh-ruby30 -- ./app.rb
